.bg1 {
    position: absolute;
    top: 17.2%;
    left: 31.1%;
    transition: top 1500ms cubic-bezier(0, 0, 0.2, 1);

    &.active {
        top: 7.5%;
    }
}

.bg2 {
    position: absolute;
    top: 17.2%;
    left: 44.8%;
    transition: top 1500ms cubic-bezier(0, 0, 0.2, 1);

    &.active {
        top: 31.3%;
    }
}

.bg3 {
    position: absolute;
    top: 17.2%;
    left: 58.4%;
}
