$light: #efefef;

@mixin btn($right, $top) {
    position: absolute;
    width: 40px;
    height: 32px;
    top: $top;
    right: $right;
    transition-duration: 0.5s;
}

@mixin icon($height, $width) {
    transition-duration: 0.5s;
    position: absolute;
    height: $height;
    width: $width;
    top: 14px;
    background-color: $light;
}

@mixin icon-before($height, $width, $top) {
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background-color: $light;
    content: "";
    top: $top;
}
  
@mixin icon-after($height, $width, $top) {
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background-color: $light;
    content: "";
    top: $top;
}

.hamburger{
    @include btn(40px, 30px);
    
    .icon {
        @include icon(2px, 40px);
        
        &:before{
            @include icon-before(2px, 40px, -14px);
        }
        
        &:after{
            @include icon-after(2px, 40px, 14px);
        }
    }
    
    &.open {
        .icon {
            transition-duration: 0.5s;
            transform: rotateZ(180deg);
            
            &:before{
                transform: rotateZ(45deg) scaleX(0.75) translate(13px, -4px);
            }
    
            &:after{
                transform: rotateZ(-45deg) scaleX(0.75) translate(13px, 4px);
            }
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.rightLayer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: auto;
	left: 100%;
	bottom: auto;
	right: auto;
	background: #F9DBBD;
	transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
	&.active {
		left: -100%;
    }
}

.rightLayer2 {
	background: #FCA17D;
	transition-delay: .4s;
}

.rightLayer3 {
	background: #DA627D;
	transition-delay: .2s;
}

.menu {
    background: #1B2735;
    overflow: hidden;
    transition-delay: 0s;
    &.active {
        left: 0%;
        transition-delay: .4s;
    }
}

.bounceIn {
    opacity: 0;
    animation: bounceIn .4s ease;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    transform-origin: 0% 0%;
}
    @keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.8);
    }
    50% {
        opacity: 1;
        transform: scale(1.05);
    }
    70% {
        opacity: 1;
        transform: scale(.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.bounceIn2 {
    animation-delay: 1.6s;
}

.bounceIn3 {
    animation-delay: 1.7s;
}

.bounceIn4 {
    animation-delay: 1.8s;
}