.art {
    position: absolute;
    top: 40%;
    opacity: 0;
    transition: all cubic-bezier(0.645, 0.045, 0.355, 1);

    &.active {
        opacity: 1;
    }
}

.astronaut {
    transition-duration: 1500ms;
}

.chips {
    transition-duration: 1700ms;
}

.cola {
    transition-duration: 1800ms;
}

.donut {
    transition-duration: 1900ms;
}

.license {
    opacity: 0;
    transition-delay: 0;
    transition-duration: 2000ms;

    &.active {
        transition-delay: 3000ms;
        opacity: 1;
    }
}