.art {
    position: absolute;
    top: 40%;
}

.license {
    opacity: 0;
    transition-delay: 0;
    transition-duration: 2000ms;

    &.active {
        transition-delay: 3000ms;
        opacity: 1;
    }
}
