.triangle {
    position: absolute;
    -webkit-text-stroke: 12px #ff686b;
    color: transparent;
}

.triangle1 {
    top: 20%;
    left: 15%;
    font-size: 300px;
}

.triangle2 {
    top: 0%;
    left: 25%;
    font-size: 400px;
    transform: rotate(180deg);
}

.triangle3 {
    top: 50%;
    left: 38%;
    font-size: 200px;
}

.triangle4 {
    top: 0%;
    left: 46.5%;
    font-size: 350px;
}

.triangle5 {
    top: 40%;
    left: 52%;
    font-size: 300px;
    transform: rotate(180deg);
}