.hero {
    position: absolute;
    width: max-content;
    height: max-content;
    overflow: hidden;
    top: 35%;
}

.title {
    position: relative;
    width: fit-content;
    height: fit-content;
    top: 40%;
    transition: all 1700ms cubic-bezier(0.645, 0.045, 0.355, 1);

    &.active {
        top: 0;
    }
}