.rightLayer {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: auto;
    left: 100%;
    bottom: auto;
    right: auto;
    background: #f9dbbd;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    &.active {
        left: -100%;
    }
}

.rightLayer2 {
    background: #fca17d;
    transition-delay: 0.4s;
}

.rightLayer3 {
    background: #da627d;
    transition-delay: 0.2s;
}
