@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    background-attachment: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}